<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}
                        <a href="javascript:;" class="btn btn-success btn-statistics" title="分佣统计">
                            <i class="fa fa-bar-chart"></i> 分佣统计
                        </a>
                        <a href="javascript:;" class="btn btn-info btn-export" title="导出">
                            <i class="fa fa-download"></i> 导出
                        </a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
