<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('配置名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name}" placeholder="如：早间黄金时段、午间时段" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('时间段')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-5">
                    <select id="c-start_hour" class="form-control selectpicker" name="row[start_hour]" required>
                        {foreach name="hourOptions" item="label" key="value"}
                        <option value="{$value}" {if $value == $row.start_hour}selected{/if}>{$label}</option>
                        {/foreach}
                    </select>
                    <span class="help-block">{:__('开始时间')}</span>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 7px;">-</div>
                <div class="col-xs-5">
                    <select id="c-end_hour" class="form-control selectpicker" name="row[end_hour]" required>
                        {foreach name="hourOptions" item="label" key="value"}
                        <option value="{$value}" {if $value == $row.end_hour}selected{/if}>{$label}</option>
                        {/foreach}
                    </select>
                    <span class="help-block">{:__('结束时间')}</span>
                </div>
            </div>
            <span class="help-block text-warning"><i class="fa fa-warning"></i> {:__('时间段不能与已有配置重叠')}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('老用户基础奖励')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-5">
                    <input id="c-base_min_reward" class="form-control" name="row[base_min_reward]" type="number" min="0" value="{$row.base_min_reward}" placeholder="{:__('下限')}" required>
                    <span class="help-block">{:__('金币')}</span>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 7px;">-</div>
                <div class="col-xs-5">
                    <input id="c-base_max_reward" class="form-control" name="row[base_max_reward]" type="number" min="0" value="{$row.base_max_reward}" placeholder="{:__('上限')}" required>
                    <span class="help-block">{:__('金币')}</span>
                </div>
            </div>
            <span class="help-block">{:__('老用户首次点击红包获得的金额区间')}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('老用户累加奖励')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-5">
                    <input id="c-accumulate_min_reward" class="form-control" name="row[accumulate_min_reward]" type="number" min="0" value="{$row.accumulate_min_reward}" placeholder="{:__('下限')}">
                    <span class="help-block">{:__('金币')}</span>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 7px;">-</div>
                <div class="col-xs-5">
                    <input id="c-accumulate_max_reward" class="form-control" name="row[accumulate_max_reward]" type="number" min="0" value="{$row.accumulate_max_reward}" placeholder="{:__('上限')}">
                    <span class="help-block">{:__('金币')}</span>
                </div>
            </div>
            <span class="help-block">{:__('老用户后续点击红包累加的金额区间')}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('新用户基础奖励')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-5">
                    <input id="c-new_user_base_min" class="form-control" name="row[new_user_base_min]" type="number" min="0" value="{$row.new_user_base_min}" placeholder="{:__('下限')}">
                    <span class="help-block">{:__('金币')}</span>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 7px;">-</div>
                <div class="col-xs-5">
                    <input id="c-new_user_base_max" class="form-control" name="row[new_user_base_max]" type="number" min="0" value="{$row.new_user_base_max}" placeholder="{:__('上限')}">
                    <span class="help-block">{:__('金币')}</span>
                </div>
            </div>
            <span class="help-block">{:__('新用户首次点击红包获得的金额区间')}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('新用户累加奖励')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-xs-5">
                    <input id="c-new_user_accumulate_min" class="form-control" name="row[new_user_accumulate_min]" type="number" min="0" value="{$row.new_user_accumulate_min}" placeholder="{:__('下限')}">
                    <span class="help-block">{:__('金币')}</span>
                </div>
                <div class="col-xs-2 text-center" style="padding-top: 7px;">-</div>
                <div class="col-xs-5">
                    <input id="c-new_user_accumulate_max" class="form-control" name="row[new_user_accumulate_max]" type="number" min="0" value="{$row.new_user_accumulate_max}" placeholder="{:__('上限')}">
                    <span class="help-block">{:__('金币')}</span>
                </div>
            </div>
            <span class="help-block">{:__('新用户后续点击红包累加的金额区间')}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('排序权重')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="number" value="{$row.weigh}" placeholder="{:__('数值越大优先级越高')}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" class="form-control selectpicker" name="row[status]">
                {foreach name="statusList" item="label" key="value"}
                <option value="{$value}" {if $value == $row.status}selected{/if}>{$label}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('备注说明')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control" name="row[remark]" rows="2" placeholder="{:__('备注说明')}">{$row.remark}</textarea>
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
