<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" value="{$row.title}" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">邀请等级:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-level" class="form-control" name="row[level]" data-rule="required">
                <option value="1" {if $row.level==1}selected{/if}>一级邀请</option>
                <option value="2" {if $row.level==2}selected{/if}>二级邀请</option>
                <option value="3" {if $row.level==3}selected{/if}>三级邀请</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">分佣类型:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-commission_type" class="form-control" name="row[commission_type]" data-rule="required">
                <option value="percent" {if $row.commission_type=='percent'}selected{/if}>按比例</option>
                <option value="fixed" {if $row.commission_type=='fixed'}selected{/if}>固定金额</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">分佣值:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-commission_value" class="form-control" name="row[commission_value]" type="number" step="0.01" value="{$row.commission_value}" data-rule="required">
            <span class="help-block">按比例时填写百分比(如10表示10%)，固定金额时填写金币数</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">来源场景:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-source" class="form-control" name="row[source]">
                <option value="all" {if $row.source=='all'}selected{/if}>全部场景</option>
                <option value="video" {if $row.source=='video'}selected{/if}>视频观看</option>
                <option value="withdraw" {if $row.source=='withdraw'}selected{/if}>提现</option>
                <option value="task" {if $row.source=='task'}selected{/if}>任务完成</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-enabled" class="form-control" name="row[enabled]">
                <option value="1" {if $row.enabled==1}selected{/if}>启用</option>
                <option value="0" {if $row.enabled==0}selected{/if}>禁用</option>
            </select>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
