<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-12 col-sm-6">
                <label>开始日期:</label>
                <input type="text" id="start_date" class="form-control datetimepicker" value="{$start_date|default=''}" data-date-format="YYYY-MM-DD">
            </div>
            <div class="col-xs-12 col-sm-6">
                <label>结束日期:</label>
                <input type="text" id="end_date" class="form-control datetimepicker" value="{$end_date|default=''}" data-date-format="YYYY-MM-DD">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info">
                    <div class="panel-heading">总邀请人数</div>
                    <div class="panel-body text-center">
                        <h2 id="total-invites">-</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">独立邀请人</div>
                    <div class="panel-body text-center">
                        <h2 id="unique-inviters">-</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">分佣次数</div>
                    <div class="panel-body text-center">
                        <h2 id="total-commission-count">-</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-danger">
                    <div class="panel-heading">分佣总金额</div>
                    <div class="panel-body text-center">
                        <h2 id="total-commission">-</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">邀请排行榜 TOP 20</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead><tr><th>排名</th><th>用户</th><th>邀请人数</th><th>累计佣金</th></tr></thead>
                            <tbody id="top-inviters"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">分佣来源分布</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead><tr><th>来源</th><th>次数</th><th>金额</th></tr></thead>
                            <tbody id="commission-source"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
