<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="panel-lead"><em>用户详情</em></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">基本信息</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr><th width="100">用户ID</th><td id="user-id"></td></tr>
                            <tr><th>用户名</th><td id="user-username"></td></tr>
                            <tr><th>昵称</th><td id="user-nickname"></td></tr>
                            <tr><th>手机号</th><td id="user-mobile"></td></tr>
                            <tr><th>等级</th><td id="user-level"></td></tr>
                            <tr><th>VIP等级</th><td id="user-vip"></td></tr>
                            <tr><th>状态</th><td id="user-status"></td></tr>
                            <tr><th>注册时间</th><td id="user-createtime"></td></tr>
                            <tr><th>最后登录</th><td id="user-logintime"></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">金币账户</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr><th width="100">余额</th><td id="coin-balance"></td></tr>
                            <tr><th>冻结</th><td id="coin-frozen"></td></tr>
                            <tr><th>累计收入</th><td id="coin-income"></td></tr>
                            <tr><th>累计支出</th><td id="coin-expense"></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">邀请统计</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr><th width="100">一级邀请</th><td id="invite-level1"></td></tr>
                            <tr><th>二级邀请</th><td id="invite-level2"></td></tr>
                            <tr><th>累计佣金</th><td id="invite-commission"></td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">风险信息</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr><th width="100">风险分数</th><td id="risk-score"></td></tr>
                            <tr><th>风险等级</th><td id="risk-level"></td></tr>
                            <tr><th>违规次数</th><td id="risk-violations"></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
