<style type="text/css">
    .config-section {
        margin-bottom: 20px;
        padding: 15px;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #e7e7e7;
    }
    .config-section .section-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7;
    }
    .config-section .section-title i {
        margin-right: 8px;
        color: #1ab394;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        font-weight: normal;
    }
    .switch-btn {
        cursor: pointer;
    }
    .btn-test {
        margin-top: 23px;
    }
    .password-toggle {
        position: relative;
    }
    .password-toggle .toggle-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #999;
    }
    .password-toggle .toggle-btn:hover {
        color: #333;
    }
</style>

<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-app" data-toggle="tab">微信App配置</a></li>
            <li><a href="#tab-mini" data-toggle="tab">小程序配置</a></li>
            <li><a href="#tab-official" data-toggle="tab">公众号配置</a></li>
            <li><a href="#tab-pay" data-toggle="tab">微信支付配置</a></li>
            <li><a href="#tab-transfer" data-toggle="tab">企业付款配置</a></li>
            <li><a href="#tab-login" data-toggle="tab">登录配置</a></li>
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <form id="config-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('general.wechat_config/save')}">
                {:token()}
                
                <!-- 微信App配置 -->
                <div class="tab-pane fade active in" id="tab-app">
                    <div class="config-section">
                        <div class="section-title">
                            <i class="fa fa-mobile"></i>微信App登录配置
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">开启App登录:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_app_enabled" name="row[wechat_app_enabled]" type="hidden" value="{$config.wechat_app_enabled|default='0'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_app_enabled" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_app_enabled}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                                <span class="help-block">开启后，App端可以使用微信授权登录</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">AppID:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" name="row[wechat_app_appid]" value="{$config.wechat_app_appid|default=''}" placeholder="微信开放平台移动应用AppID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">AppSecret:</label>
                            <div class="col-xs-12 col-sm-8 password-toggle">
                                <input type="password" class="form-control" id="wechat_app_secret" name="row[wechat_app_secret]" value="{$config.wechat_app_secret|default=''}" placeholder="微信开放平台移动应用Secret">
                                <i class="fa fa-eye toggle-btn" onclick="togglePassword('wechat_app_secret', this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 小程序配置 -->
                <div class="tab-pane fade" id="tab-mini">
                    <div class="config-section">
                        <div class="section-title">
                            <i class="fa fa-weixin"></i>微信小程序配置
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">开启小程序登录:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_mini_enabled" name="row[wechat_mini_enabled]" type="hidden" value="{$config.wechat_mini_enabled|default='0'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_mini_enabled" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_mini_enabled}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                                <span class="help-block">开启后，小程序端可以使用微信登录</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">AppID:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" name="row[wechat_mini_appid]" value="{$config.wechat_mini_appid|default=''}" placeholder="微信小程序AppID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">AppSecret:</label>
                            <div class="col-xs-12 col-sm-8 password-toggle">
                                <input type="password" class="form-control" id="wechat_mini_secret" name="row[wechat_mini_secret]" value="{$config.wechat_mini_secret|default=''}" placeholder="微信小程序Secret">
                                <i class="fa fa-eye toggle-btn" onclick="togglePassword('wechat_mini_secret', this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 公众号配置 -->
                <div class="tab-pane fade" id="tab-official">
                    <div class="config-section">
                        <div class="section-title">
                            <i class="fa fa-comments"></i>微信公众号配置
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">开启公众号登录:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_official_enabled" name="row[wechat_official_enabled]" type="hidden" value="{$config.wechat_official_enabled|default='0'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_official_enabled" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_official_enabled}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                                <span class="help-block">开启后，公众号网页可以使用微信授权登录</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">AppID:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" name="row[wechat_official_appid]" value="{$config.wechat_official_appid|default=''}" placeholder="微信公众号AppID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">AppSecret:</label>
                            <div class="col-xs-12 col-sm-8 password-toggle">
                                <input type="password" class="form-control" id="wechat_official_secret" name="row[wechat_official_secret]" value="{$config.wechat_official_secret|default=''}" placeholder="微信公众号Secret">
                                <i class="fa fa-eye toggle-btn" onclick="togglePassword('wechat_official_secret', this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 微信支付配置 -->
                <div class="tab-pane fade" id="tab-pay">
                    <div class="config-section">
                        <div class="section-title">
                            <i class="fa fa-money"></i>微信支付配置
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">开启微信支付:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_pay_enabled" name="row[wechat_pay_enabled]" type="hidden" value="{$config.wechat_pay_enabled|default='0'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_pay_enabled" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_pay_enabled}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">商户号:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" name="row[wechat_pay_mchid]" value="{$config.wechat_pay_mchid|default=''}" placeholder="微信支付商户号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">API密钥:</label>
                            <div class="col-xs-12 col-sm-8 password-toggle">
                                <input type="password" class="form-control" id="wechat_pay_key" name="row[wechat_pay_key]" value="{$config.wechat_pay_key|default=''}" placeholder="微信支付API密钥">
                                <i class="fa fa-eye toggle-btn" onclick="togglePassword('wechat_pay_key', this)"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">证书cert:</label>
                            <div class="col-xs-12 col-sm-8">
                                <textarea class="form-control" name="row[wechat_pay_cert_pem]" rows="5" placeholder="微信支付证书cert内容（ pem 格式）">{$config.wechat_pay_cert_pem|default=''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">证书key:</label>
                            <div class="col-xs-12 col-sm-8">
                                <textarea class="form-control" name="row[wechat_pay_key_pem]" rows="5" placeholder="微信支付证书key内容（ pem 格式）">{$config.wechat_pay_key_pem|default=''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">回调地址:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" name="row[wechat_pay_notify_url]" value="{$config.wechat_pay_notify_url|default=''}" placeholder="微信支付异步回调地址">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 企业付款配置 -->
                <div class="tab-pane fade" id="tab-transfer">
                    <div class="config-section">
                        <div class="section-title">
                            <i class="fa fa-exchange"></i>企业付款配置（用于提现）
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">开启企业付款:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_transfer_enabled" name="row[wechat_transfer_enabled]" type="hidden" value="{$config.wechat_transfer_enabled|default='0'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_transfer_enabled" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_transfer_enabled}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                                <span class="help-block">开启后，可以使用微信企业付款到零钱功能</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">商户号:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" name="row[wechat_transfer_mchid]" value="{$config.wechat_transfer_mchid|default=''}" placeholder="企业付款商户号（可与支付商户号相同）">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">API密钥:</label>
                            <div class="col-xs-12 col-sm-8 password-toggle">
                                <input type="password" class="form-control" id="wechat_transfer_key" name="row[wechat_transfer_key]" value="{$config.wechat_transfer_key|default=''}" placeholder="企业付款API密钥">
                                <i class="fa fa-eye toggle-btn" onclick="togglePassword('wechat_transfer_key', this)"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">证书cert:</label>
                            <div class="col-xs-12 col-sm-8">
                                <textarea class="form-control" name="row[wechat_transfer_cert_pem]" rows="5" placeholder="企业付款证书cert内容（ pem 格式）">{$config.wechat_transfer_cert_pem|default=''}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">证书key:</label>
                            <div class="col-xs-12 col-sm-8">
                                <textarea class="form-control" name="row[wechat_transfer_key_pem]" rows="5" placeholder="企业付款证书key内容（ pem 格式）">{$config.wechat_transfer_key_pem|default=''}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 登录配置 -->
                <div class="tab-pane fade" id="tab-login">
                    <div class="config-section">
                        <div class="section-title">
                            <i class="fa fa-sign-in"></i>登录配置
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">自动注册:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_auto_register" name="row[wechat_auto_register]" type="hidden" value="{$config.wechat_auto_register|default='1'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_auto_register" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_auto_register}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                                <span class="help-block">微信登录时如果用户不存在是否自动注册新用户</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">强制绑定手机:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-wechat_bind_mobile" name="row[wechat_bind_mobile]" type="hidden" value="{$config.wechat_bind_mobile|default='0'}">
                                <a href="javascript:;" data-toggle="switcher" class="btn-switcher switch-btn" data-input-id="c-wechat_bind_mobile" data-yes="1" data-no="0">
                                    <i class="fa fa-toggle-on {if !$config.wechat_bind_mobile}fa-flip-horizontal text-gray{else}text-success{/if} fa-2x"></i>
                                </a>
                                <span class="help-block">微信登录后是否强制用户绑定手机号</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 提交按钮 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary btn-embossed">
                            <i class="fa fa-save"></i> {:__('Save')}
                        </button>
                        <button type="reset" class="btn btn-default btn-embossed">
                            {:__('Reset')}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
// 切换密码显示
function togglePassword(inputId, icon) {
    var input = document.getElementById(inputId);
    if (input.type === 'password') {
        input.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        input.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
}

// 开关切换
$(document).on('click', '.btn-switcher', function() {
    var inputId = $(this).data('input-id');
    var yesValue = $(this).data('yes');
    var noValue = $(this).data('no');
    var input = $('#' + inputId);
    var icon = $(this).find('i');
    
    if (input.val() == yesValue) {
        input.val(noValue);
        icon.addClass('fa-flip-horizontal text-gray').removeClass('text-success');
    } else {
        input.val(yesValue);
        icon.removeClass('fa-flip-horizontal text-gray').addClass('text-success');
    }
});

// 表单提交
$(document).on('submit', '#config-form', function(e) {
    e.preventDefault();
    var form = $(this);
    var data = form.serialize();
    
    Fast.api.ajax({
        url: form.attr('action'),
        data: data,
        type: 'POST'
    }, function(data, ret) {
        Fast.api.toastr.success(ret.msg);
        setTimeout(function() {
            location.reload();
        }, 1500);
        return false;
    }, function(data, ret) {
        Fast.api.toastr.error(ret.msg);
        return false;
    });
    
    return false;
});
</script>
