<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">

                    <!-- 基础配置表单 -->
                    <div class="panel panel-default" style="margin-bottom:15px;border-top:3px solid #18bc9c;">
                        <div class="panel-heading"><strong><i class="fa fa-cog"></i> 基础配置</strong></div>
                        <div class="panel-body">
                            <form id="config-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('signin/config/save')}">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">签到开关:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select name="row[enabled]" class="form-control" style="max-width:200px;">
                                            <option value="1" {if condition="$config['enabled'] == 1"}selected{/if}>开启</option>
                                            <option value="0" {if condition="$config['enabled'] == 0"}selected{/if}>关闭</option>
                                        </select>
                                        <span class="help-block">关闭后用户端签到功能将不可用</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">每月可补签天数:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="number" name="row[fillup_days]" class="form-control" value="{$config.fillup_days|default=3}" min="0" max="31" style="max-width:200px;">
                                        <span class="help-block">用户每月最多可以补签多少天，0表示不允许补签</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">补签消耗金币:</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <input type="number" name="row[fillup_cost]" class="form-control" value="{$config.fillup_cost|default=50}" min="0" style="max-width:200px;">
                                        <span class="help-block">用户每次补签需要消耗的金币数量</span>
                                    </div>
                                </div>
                                <div class="form-group layer-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" class="btn btn-primary btn-embossed"><i class="fa fa-save"></i> {:__('Save')}</button>
                                        <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- 奖励规则列表 -->
                    <div class="panel panel-default" style="border-top:3px solid #e9573f;">
                        <div class="panel-heading">
                            <strong><i class="fa fa-gift"></i> 每日签到奖励规则（按周期天数循环）</strong>
                        </div>
                        <div class="panel-body">
                            <div id="toolbar" class="toolbar">
                                <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}"><i class="fa fa-refresh"></i> </a>
                                <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('signin/config/add')?'':'hide'}" title="添加规则"><i class="fa fa-plus"></i> 添加规则</a>
                                <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('signin/config/del')?'':'hide'}" title="{:__('Delete')}"><i class="fa fa-trash"></i> {:__('Delete')}</a>
                            </div>
                            <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                                   data-operate-edit="{:$auth->check('signin/config/edit')}"
                                   data-operate-del="{:$auth->check('signin/config/del')}"
                                   width="100%">
                            </table>
                        </div>
                    </div>

                    <!-- 配置说明 -->
                    <div class="panel panel-info" style="margin-top:15px;">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-info-circle"></i> 规则说明</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5><strong>奖励规则说明</strong></h5>
                                    <ul style="padding-left:20px;">
                                        <li>奖励规则按<strong>周期天数</strong>循环生效，例如设置1-7天，第8天签到将获得第1天的奖励</li>
                                        <li>连续签到天数在周期内对应的天数奖励</li>
                                        <li>补签不影响连续签到天数的计算</li>
                                        <li>可自由调整周期天数和对应的金币奖励</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h5><strong>补签规则说明</strong></h5>
                                    <ul style="padding-left:20px;">
                                        <li>用户可对当月未签到的日期进行补签</li>
                                        <li>补签需消耗金币，补签成功后按对应周期天数发放奖励金币</li>
                                        <li>每月补签次数由"每月可补签天数"控制</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
