<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" placeholder="规则名称" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">奖励类型:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-reward_type" class="form-control" name="row[reward_type]" data-rule="required">
                <option value="fixed">固定奖励</option>
                <option value="random">随机奖励</option>
            </select>
        </div>
    </div>
    <div class="form-group reward-fixed">
        <label class="control-label col-xs-12 col-sm-2">固定金币:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coin_reward" class="form-control" name="row[coin_reward]" type="number" value="0" placeholder="固定奖励金币数">
        </div>
    </div>
    <div class="form-group reward-random" style="display:none;">
        <label class="control-label col-xs-12 col-sm-2">金币范围:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-reward_min" class="form-control" name="row[reward_min]" type="number" value="0" placeholder="最小金币">
        </div>
        <div class="col-xs-12 col-sm-4">
            <input id="c-reward_max" class="form-control" name="row[reward_max]" type="number" value="0" placeholder="最大金币">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">观看时长要求(秒):</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-watch_duration" class="form-control" name="row[watch_duration]" type="number" value="0" placeholder="需要观看的时长，0表示不限制">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">每日限制:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daily_limit" class="form-control" name="row[daily_limit]" type="number" value="0" placeholder="每日可领取次数，0表示不限制">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">有效期:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-start_time" class="form-control datetimepicker" name="row[start_time]" type="text" placeholder="开始时间" data-date-format="YYYY-MM-DD HH:mm:ss">
        </div>
        <div class="col-xs-12 col-sm-4">
            <input id="c-end_time" class="form-control datetimepicker" name="row[end_time]" type="text" placeholder="结束时间" data-date-format="YYYY-MM-DD HH:mm:ss">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" class="form-control" name="row[status]">
                <option value="1" selected>启用</option>
                <option value="0">禁用</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
<script>
$(function() {
    $('#c-reward_type').on('change', function() {
        if ($(this).val() === 'fixed') {
            $('.reward-fixed').show();
            $('.reward-random').hide();
        } else {
            $('.reward-fixed').hide();
            $('.reward-random').show();
        }
    });
});
</script>
