<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-add {:$auth->check('redpacket/rewardconfig/add')?'':'hide'}" title="{:__('Add')}" ><i class="fa fa-plus"></i> {:__('Add')}</a>
                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('redpacket/rewardconfig/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>

                        <div class="dropdown btn-group {:$auth->check('redpacket/rewardconfig/multi')?'':'hide'}">
                            <a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                            <ul class="dropdown-menu text-left" role="menu">
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                                <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                            </ul>
                        </div>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('redpacket/rewardconfig/edit')}"
                           data-operate-del="{:$auth->check('redpacket/rewardconfig/del')}"
                           width="100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info" style="margin-top:15px;">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-info-circle"></i> {:__('配置说明')}</h4>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="150">{:__('字段')}</th>
                    <th>{:__('说明')}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>{:__('时间段')}</strong></td>
                    <td>配置生效的时间范围，采用24小时制。全天配置(00:00-24:00)会匹配任何时间</td>
                </tr>
                <tr>
                    <td><strong>{:__('今日金额限制')}</strong></td>
                    <td>用户今日已领取金额在此范围内时，该配置生效。0表示不限制</td>
                </tr>
                <tr>
                    <td><strong>{:__('老用户基础奖励')}</strong></td>
                    <td>老用户首次点击红包获得的金额区间（金币）</td>
                </tr>
                <tr>
                    <td><strong>{:__('老用户累加奖励')}</strong></td>
                    <td>老用户后续点击红包累加的金额区间（金币）</td>
                </tr>
                <tr>
                    <td><strong>{:__('新用户基础奖励')}</strong></td>
                    <td>新用户首次点击红包获得的金额区间（金币）</td>
                </tr>
                <tr>
                    <td><strong>{:__('新用户累加奖励')}</strong></td>
                    <td>新用户后续点击红包累加的金额区间（金币）</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" style="margin-top:10px;margin-bottom:0;">
            <i class="fa fa-warning"></i> <strong>匹配规则：</strong>系统先按【今日已领取金额】筛选配置，再按【当前时间段】匹配。按权重从高到低取第一个匹配的配置。
            <br><br>
            <i class="fa fa-warning"></i> <strong>最高金额限制：</strong>红包最高金额为 <strong class="text-danger">{$maxRewardLimit|number_format}</strong> 金币，不论如何累加都不能超过此限制。
        </div>
    </div>
</div>
